*{
    margin: 0;
    padding: 0;
    /* border: 1px red solid; */
}

:root {
    --blue: #2489fc;
    --darkblue:   #000419;
    --green: #95CA3E;
    --font-Heads: California, Arial;
    --font-Paragraphs: 'Roboto', sans-serif;
}

body{
    background: var(--darkblue);
    color: white;
    font-family: var(--font-Paragraphs);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "hero"
      "section-01"
      "section-02"
      "footer";
  }
  
  .header { grid-area: header; }
  .hero { grid-area: hero; overflow: hidden;}
  .section-01 { grid-area: section-01; overflow: hidden; border-top: 0px var(--green) solid;}
  .section-02 { grid-area: section-02; }
  .footer { grid-area: footer; overflow: hidden;}



/* ---------------- HEADER ---------------- */

.header{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 35px;
}

#logo{
    width: 70px;
    margin-left: 20px;
}

.header-menu{
    width: 220px;
    border: 1px white solid;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.menu-link{
    color: white;
    font-family: var(--font-Paragraphs);
    text-transform: uppercase;
    font-size: .70rem;
    text-decoration: none;
}

.menu-link:hover{
    color: var(--green);
}


/* ---------------- HERO ---------------- */

.hero-container{
    width: 100%;
    /* height: 500px; */
    background: rgb(8,4,25);
    background: linear-gradient(180deg, rgba(8,4,25,1) 0%, rgba(2,6,60,1) 22%, rgba(0,36,116,1) 79%, rgba(2,127,212,1) 100%);
}

.stars{
    width: 100vw;
/*     border: 1px red solid; */
    background: url("../images/stars.png") center center repeat-x;
    background-size: 800px;
}

.hero-img{
    width: 100vw;
    height: 190px;
    background-image: url("../images/tierra01.svg");
    background-size: 620px;
    background-position: center bottom;
    background-repeat: repeat-x;
    /* border: 1px red solid; */
    border-bottom: 0px var(--darkblue) solid;

    font-size: 50px;
    position: relative;
    /* z-index: 5; */
}







/* ---------------- GLASS ---------------- */

.glass-container{
    margin: auto;
    margin-top: 40px;
    /* max-width: 1440px; */
/*     display: flex;
    justify-content: center; */
    /* border: 1px rgba(255, 0, 0, 0.26) solid; */
  /*   overflow: hidden; */

    
}

.sub-container{
    width: 90vw;
    height: 520px;
    margin: auto;
    /* border: 1px green solid; */

    position: relative;
}

.glass{
    max-width: 90vw;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
    
    border-radius: 18px;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 162, 255, 0.05);
    background-color: rgba(0, 0, 0, 0.18);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255,255,255,0.2) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}

.profile-img2{
    width: 110px;
    height: 90px;
    /* border: 1px red solid; */
    background: url('../images/daniek03.svg') no-repeat;
    background-position: center top;
    background-size: 110px;
    /* border: 1px red solid; */
    
    position: absolute;
    left: calc(50% - 50px);;
    top: -14px;
}

.glass-internal-container{
    width: 100%;
    height: 100%;
    padding-top: 0px;
/*     border: 1px rgb(255, 251, 0) solid; */
}

h3{
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: -10px;
    text-align: center;
    padding-top: 50px;
}

h4{
    color: var(--green);
    font-size: 1.8rem;
    letter-spacing: 3px;
    font-weight: 900;
    margin-bottom: 25px;
    text-align: center;
}

.bio{
    font-family: var(--font-Paragraphs);
    font-style: normal;
    font-weight: 500;
    font-size: .85rem;
    text-align: justify;
    text-justify: inter-word;
    /* line-height: 21px; */
    text-shadow: 1px 2px 1.5px black, 1.5px 1px 1.5px black;
   /*  border: 1px red solid; */
}

.techs{
    display: flex;
    justify-content: space-around;
    /* border: 1px red solid; */
    /* padding: 10px; */
    border-radius: 8px;

}

li{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: .85rem;
    line-height: 25px;
    text-shadow: 1px 2px 1.5px black, 1.5px 1px 1.5px black;
}

.glass-techs{
    color: var(--blue);
    font-weight: 900;
}

#html{
    font-size: 4rem;
    position: absolute;
    right: 40px;
    top: -54px;
    
}

#js{
    font-size: 10rem;
    position: absolute;
    right: -60px;
    top: 150px;
    
}

#css{
    font-size: 6rem;
    position: absolute;
    left: 30px;
    bottom: 10px;

}









/* ---------------- PROYECTOS ---------------- */
/* .section-01{
    border: 1px solid orangered;
} */
.projects-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px red solid; */
    background-color: var(--darkblue);

}

.section-title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
/*     font-family: "American Captain"; */
    /* letter-spacing: 3px; */
    text-transform: uppercase;
    font-weight: 900;
}

.projects{
    max-width: 1440px;
    min-width: 325px;
    /* height: 500px; */
    background-color: var(--darkblue);
    padding: 25px 50px;
/*     border: 1px green solid; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    
}

.card__container{
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
}

.card__container:hover .card__header{
    background-color: var(--green);
    border: 2px solid var(--green);
    transform: scale(1.00);
    margin-top: -15px;
    margin-bottom: 20px;
    transition: 0.4s ease-out;
  }

.card__header{
    background-color: var(--blue);
    border: 2px solid var(--blue);
    margin-bottom: 10px;
}

.card__title{
    max-width: 350px;
    color: var(--darkblue);
    font-weight: 900;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

.card__techs__container{
    background-color: black;
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}
.card__techs__container::after{
    content: "";
    background-color: var(--blue);
    width: 95%;
    height: 60%;

    position: absolute;
    right: 5px;
}

.cars__techs{
    font-size: .75rem;
    padding: 5px;
    background-color: black;
    z-index: 2;
}

.card__image{
    width: 350px;
    border: 2px solid var(--blue);
    border-bottom: 8px solid var(--blue);;
}


.card__container:hover .card__image{
    background-color: var(--green);
    border: 2px solid var(--green);
    border-bottom: 8px solid var(--green);
    margin-top: -10px;
    transform: scale(1.00);
    transition: 0.4s ease-out;
  }

  /* ---------------- CONTACTO ---------------- */
.contact{
    width: 100vw;
    height: 150px;

    background: rgb(8,4,25);
    background: linear-gradient(180deg, rgba(8,4,25,1) 0%, rgba(2,6,60,1) 22%, rgba(0,36,116,1) 79%, rgba(2,127,212,1) 100%);
/*     border: 1px red solid; */
}

.rocks{
    width: 100vw;
    height: 150px;
    background: transparent;
    /* background: linear-gradient(180deg, rgba(255,61,0,1) 0%, rgba(149,0,0,1) 34%, rgba(90,0,0,1) 79%); */
    background-image: url("../images/rocas05.svg");
    background-size: 650px;
    background-position: center top;
    background-repeat: repeat-x;
}

h6{
    text-align: center;
    font-size: .8rem;
    font-weight: 300;
    margin-top: -50px;
}




 /* ---------------- RESPONSIVE ---------------- */
 /* ---------------- RESPONSIVE ---------------- */
 /* ---------------- RESPONSIVE ---------------- */

@media (min-width: 1000px) {

/* ---------------- HEADER ---------------- */
.header{
    margin-top: 30px;
    margin-bottom: 35px;
}

#logo{
    width: 140px;
    margin-left: 50px;
}

.header-menu{
    width: 350px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 15px;
}

.menu-link{
    font-size: 1rem;
}


/* ---------------- HERO ---------------- */

.stars{
    background-size: 1440px;
}

.hero-img{
    width: 100vw;
    height: 450px;
    background-image: url("../images/tierra01.svg");
    background-position: center bottom;
    background-repeat: repeat-x;
/*     border: 1px red solid; */
    border-bottom: 1px var(--darkblue) solid;
}



/* ---------------- GLASS ---------------- */

.glass-container{
    margin: auto;
    margin-top: 60px;
}

.sub-container{
    width: 960px;
    height: 550px;
    margin: auto;
    /* border: 1px green solid; */

    position: relative;
}

.glass{
    max-width: 960px;
    height: 520px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 48px;
    backdrop-filter: blur(10px);
}

.profile-img{
    width: 350px;
}
.profile-img2{
    width: 400px;
    height: 500px;
    /* border: 1px red solid; */
    background: url('../images/daniek03.svg') no-repeat center;
    filter: drop-shadow(0px -8px 15px rgba(0, 195, 255, 0.35));
    background-size: 370px;
    /* border: 1px red solid; */
    
    left: 30px;
    top: 71px;
    /* bottom: -153px; */
}

.glass-internal-container{
    width: 450px;
    height: 350px;
/*     border: 1px rgb(255, 251, 0) solid; */
}

h3{
    font-size: 3.8rem;
    margin-bottom: -15px;
    text-align: left;
    padding-top: 0px;
}

h4{
    font-size: 2.8rem;
    letter-spacing: 4px;
    margin-bottom: 25px;
    text-align: left;
}

.bio{
    font-family: var(--font-Paragraphs);
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
    line-height: 21px;
    text-shadow: 1px 2px 1.5px black, 1.5px 1px 1.5px black;
   /*  border: 1px red solid; */
}

li{
    font-size: 1.2rem;
}

.glass-techs{
    color: var(--blue);
    font-weight: 900;
}

#html{
    font-size: 6rem;
    right: 40px;
    top: -70px;
}

#js{
    font-size: 15rem;
    right: -75px;
    top: 150px;
}

#css{
    font-size: 10rem;

    position: absolute;
    left: 350px;
    bottom: -110px;
}



/* ---------------- PROYECTOS ---------------- */

.projects-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px red solid; */
    background-color: var(--darkblue);

}

.section-title{
    font-size: 4.5rem;
}

.projects{
    min-width: 1100px;
    display: flex;
    flex-direction: row;
}


  /* ---------------- CONTACTO ---------------- */
  .contact{
    height: 300px;
}

.rocks{
    height: 200px;
    background-size: 1150px;
}

h6{
    margin-top: 65px;
}

}