*{
    margin: 0;
    padding: 0;
    /* border: 1px red solid; */
}

:root {
    --blue: #2489fc;
    --darkblue:   #000419;
    --green: #95CA3E;
    --font-Heads: California, Arial;
    --font-Paragraphs: 'Roboto', sans-serif;
}

body{
    background: var(--darkblue);
    color: white;
    font-family: var(--font-Paragraphs);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "Hero"
      "Section-01"
      "Section-02"
      "Footer";
  }
  
  .header { grid-area: header; }
  .hero { grid-area: hero; overflow: hidden;}
  .section-01 { grid-area: section-01; }
  .section-02 { grid-area: section-02; }
  .footer { grid-area: footer; }



/* ---------------- HEADER ---------------- */

.header{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 35px;
}

#logo{
    width: 70px;
    margin-left: 20px;
}

.header-menu{
    width: 220px;
    border: 1px white solid;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.menu-link{
    color: white;
    font-family: var(--font-Paragraphs);
    text-transform: uppercase;
    font-size: .70rem;
    text-decoration: none;
}

.menu-link:hover{
    color: var(--green);
}


/* ---------------- HERO ---------------- */

.hero-container{
    width: 100%;
    /* height: 500px; */
    background: rgb(8,4,25);
    background: linear-gradient(180deg, rgba(8,4,25,1) 0%, rgba(2,6,60,1) 22%, rgba(0,36,116,1) 79%, rgba(2,127,212,1) 100%);
}

.stars{
    width: 100vw;
/*     border: 1px red solid; */
    background: url("../images/stars.png") center center repeat-x;
    background-size: 1440px;
}

.hero-img{
    width: 100vw;
    height: 190px;
    background-image: url("../images/tierra01.svg");
    background-size: 600px;
    background-position: center bottom;
    background-repeat: repeat-x;
    /* border: 1px red solid; */
    border-bottom: 1px var(--darkblue) solid;

    font-size: 50px;
    position: relative;
    /* z-index: 5; */
}







/* ---------------- GLASS ---------------- */

.glass-container{
    margin: auto;
    margin-top: 40px;
    /* max-width: 1440px; */
/*     display: flex;
    justify-content: center; */
    /* border: 1px rgba(255, 0, 0, 0.26) solid; */
  /*   overflow: hidden; */

    
}

.sub-container{
    width: 90vw;
    height: 520px;
    margin: auto;
    /* border: 1px green solid; */

    position: relative;
}

.glass{
    max-width: 90vw;
    height: 410px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    border-radius: 18px;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 162, 255, 0.05);
    background-color: rgba(0, 0, 0, 0.18);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255,255,255,0.2) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}

.profile-img2{
    width: 110px;
    height: 90px;
    /* border: 1px red solid; */
    background: url('../images/daniek03.svg') no-repeat;
    background-position: center top;
    background-size: 110px;
    /* border: 1px red solid; */
    
    position: absolute;
    left: calc(50% - 50px);;
    top: -34px;
}

.glass-internal-container{
    width: 450px;
    height: 350px;
/*     border: 1px rgb(255, 251, 0) solid; */
}

h3{
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: -10px;
    text-align: center;
}

h4{
    color: var(--green);
    font-size: 1.8rem;
    letter-spacing: 3px;
    font-weight: 900;
    margin-bottom: 25px;
    text-align: center;
}

.bio{
    font-family: var(--font-Paragraphs);
    font-style: normal;
    font-weight: 500;
    font-size: .85rem;
    text-align: justify;
    text-justify: inter-word;
    /* line-height: 21px; */
    text-shadow: 1px 2px 1.5px black, 1.5px 1px 1.5px black;
   /*  border: 1px red solid; */
}

.techs{
    display: flex;
    justify-content: space-around;
    /* border: 1px red solid; */
    /* padding: 10px; */
    border-radius: 8px;

}

li{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: .85rem;
    line-height: 25px;
    text-shadow: 1px 2px 1.5px black, 1.5px 1px 1.5px black;
}

.glass-techs{
    color: var(--blue);
    font-weight: 900;
}

#html{
    font-size: 4rem;
    position: absolute;
    right: 40px;
    top: -54px;
    
}

#js{
    font-size: 10rem;
    position: absolute;
    right: -60px;
    top: 150px;
    
}

#css{
    font-size: 6rem;
    position: absolute;
    left: 30px;
    bottom: 10px;

}













.card__image{
    width: 350px;
}